credentials={
	"username": "",
	"password": "",
	"device_id": "eb9d53a3c424f961",
	"user_agent": "genie/ANDROID/5.1.1/WIFI/SM-G930L/dreamqltecaneb9d53a3c424f961/500200714/40807",
}

prefs={
	"download_directory": "downloads",
	"log_directory": "logs",
	"default_format": 3,
	"cover_name": "cover.jpg",
	"artist_folders": True,
	"ascii_art": True
}